<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Availaball</title>
<th:block th:replace="/admin/layout :: head"></th:block>
</head>

<body>
	<div id="wrapper">
		<div th:replace="/fragment/top :: top-header"></div>

	 <div id="page-wrapper">
				<div layout:fragment="content">
				<th:block layout:fragment="content">
            <div class="container-fluid">

                <!-- Page Heading -->
               <div class="row">
            
                    <div id="md12" class="col-lg-12">
                        
                        <!-- Title -->
                        <div class="col-lg-3">
                        <h4>EDIT</h4>
                        </div>
                        <!-- end of title -->
                        <br>

                        <!-- Image -->
                        <div class="col-lg-6">
                           
                            </div>

                        </div>
                        <!-- end of Image -->

                        <!-- Field Name -->
                        <div class="col-lg-6">
                        <label>Nama</label>
                        <div class="form-group">
                            
                            <div class="col-lg-10">
                         <input type="text"  class="form-control" name="emailSubject" id="emailSubject" size="35"   placeholder="Subject">
                             </div>
                                 </div>
                        </div>
                        <!-- end of Field Name -->

                        <!-- Map icon -->
                        <div class="col-lg-3">
                           <label> -6.19152212312</label>
                        </div>
                        <!-- end of Map Icon  -->


                        <!-- Address -->
                        <div class="col-lg-6">
                        <label>Alamat</label>

                            <div class="col-lg-10">
                         <input type="textarea"  class="form-control" name="emailSubject" id="emailSubject" size="35"   placeholder="Subject">
                             </div>
                        </div>
                        <!-- end of Address -->

                        <!-- Phone & number Of field -->
                        <!-- Phone -->
                        <div class="col-lg-3">
                            <label>Telepon</label>

                            <div class="col-lg-10">
                         <input type="text"  class="form-control" name="emailSubject" id="emailSubject" size="35"   placeholder="Subject">
                             </div>
                        </div>
                        <!-- end of Phone -->

                        <!-- number of field -->
                        <div class="col-lg-3"> 
                        <label>Jumlah Lapangan</label>

                        </div>
                        <!-- end of Number of field -->
                        <!-- end of Phone & number Of field -->
                        
                         <!-- Jam Buka -->
                        <hr></hr>
                        <label>Jam Buka</label>
                        <div class="col-lg-12">
                        <!-- Senin -->
                        <div class="col-lg-3">
                        
                        
                        
                        
                            <label>Senin</label>
                        </div>
                        <!-- end Of senin -->

                        <!-- Selasa -->
                        <div class="col-lg-3">
                            <label>Selasa</label>
                        </div>
                        <!-- end Of selasa -->

                        <!-- Rabu  -->
                        <div class="col-lg-3">
                            <label>Rabu</label>
                        </div>
                        <!-- end Of Rabu -->

                        <!-- Kamis -->
                        <div class="col-lg-3">
                            <label>Kamis</label>
                        </div>
                        <!-- end Of Kamis -->

                        <!-- Jumat  -->
                        <div class="col-lg-3">
                            <label>Jumat</label>
                        </div>
                        <!-- end of Jumat  -->

                        <!-- Sabtu  -->
                        <div class="col-lg-3">
                            <label>Sabtu</label>
                        </div>
                        <!-- end Of Sabtu -->

                        <!-- Minggu -->
                        <div class="col-lg-3">
                            <label>Minggu</label>
                        </div>
                        <!-- end Of Minggu -->

                        </div>
                        <!-- End of Jam Buka -->


                        <!-- Harga -->
                        <!-- end of harga -->
                    </div>
            </div>
            
            <div class="col-lg-12">
               </div>
            
            
			</th:block>
        </div>
        <!-- /#page-wrapper -->

	
    </div>
    <!-- /#wrapper -->
		</div>
	
</body>
</html>