<html layout:decorator="/admin/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Availaball</title>
<link rel="stylesheet" th:href="@{/css/plugins/view-field.css}" />
    	<script src="https://cdn.datatables.net/s/bs/jqc-1.11.3,dt-1.10.10/datatables.min.js"></script>
    	
</head>
<body>

	<div id="page-wrapper">
		<div layout:fragment="content">
			<div class="container-fluid">


				<!-- Page Heading -->
				<div class="row">
					<div id="md12" class="col-lg-12">

						<div id="" class="col-lg-12">
							<!-- last update -->
							<div class="col-md-2 mdtop1">
								<div>
									<label class="labels"> Latest update </label>
								</div>
								<div>
									<label class="text"> 05/04/2017 15:03 </label>
								</div>
							</div>
							<!-- end of last update -->

							<!-- Surveyer name-->
							<div class="col-md-2 mdtop1">
								<div>
									<label class="labels">Surveyer</label>
								</div>
								<div>
									<label class="text"> 
									<span th:text="${view.fieldName}"></span>
									</label>
								</div>
							</div>
							<!-- end of surveyer name-->
							<div class="col-md-6 mdtop1" style="padding-right: unset;">
							<div class="dropdown" style="float: right; right:0;" >
						            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
						               <i class="icon-gear"></i> Action <span class="caret"></span>
						            </a>
						    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" id="dropdown_action" >

						              <li><a th:href="@{/admin/edit-field/10}">Edit</a></li>
						              <li><a href="#" onclick="centerModal(10)">Delete</a></li>

						              <li><a th:href="@{/admin/edit-field/{id}(id=${view.idFutsalField})}">Edit</a></li>
						              <li><a href="#" onclick="delete()" data-toggle="modal" data-target="#myModal" >Delete</a></li>

						            </ul>
						        </div>								
							</div>
						</div>
									<div class="modal fade" id="myModal" tabindex="-1"
										role="dialog" aria-labelledby="myModalLabel"
										aria-hidden="true">
										<div class="modal-dialog"
											style="margin-top: 148.5px !important;">
											<div class="modal-content" id="modal_content">
												<div class="modal-header" id="modal_header">
													<!--   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> -->
													<p class="modal-title " id="modal_lables">Are you sure
														want to delete it?</p>
												</div>

												<div class="modal-footer" id="modal_footer">
													<div class="button_c_d">
														<button type="button" id="button_delete"
															class="btn btn-primary">Delete</button>
														<button type="button" id="button_cancel"
															class="btn btn-default" data-dismiss="modal" onclick="delete(10)">Cancel</button>
													</div>
												</div>
											</div>
										</div>
									</div>
						<script type="text/javascript">
						function delete(id) {
							console.log(id);
						    $(this).css('display', 'block');
						    var $dialog = $(this).find(".modal-dialog");
						    var offset = ($(window).height() - $dialog.height()) / 2;
						    // Center modal vertically in window
						    $dialog.css("margin-top", offset);
							 $('#button_delete').on('click', function(event){
							    	   var futsalField = {};
							    	   futsalField.idFutsalField = id;
							    	   var idFutsalField = id;
							    	   $.ajax({
							    		   	 type: "POST",
								             url: "/delete-field",
								             data: futsalField,
								             timeout: 600000,
								             success: function (data) {
								                 console.log("sukses");
								                 window.location.href="/admin/index/";
								             },
								             error: function (e) {
								                 console.log("gagal");
								             }
									 });
							       });									    
						}

						$('.modal').on('show.bs.modal', delete);
						$(window).on("resize", function () {
						    $('.modal:visible').each(delete);
						});							
						</script>

						<!-- Field img -->
						<div class="col-md-6 mdtop6">
							<img src="/img/aa.jpg" height="168" width="360">
						</div>
						<!--end of field img-->

						<div class="col-lg-12">
							<!-- detail -->
							<div class="col-md-6 mdtop2 ">
								<div>
									<label class="titles"><span th:text="${view.fieldName}"></span></label>
								</div>
								<div class="labels">
									<span th:text="${view.location}"></span>
								</div>
							</div>
							<!-- end of detail-->


							<div class="col-lg-12 mdtop3">
								<!-- phone number -->
								<div class="col-md-2 mdtop4">
									<div>
										<label class="labels">Telepon </label>
									</div>
									<div th:each="phn : ${phone}">
										<span th:text="${phn}"></span>
									</div>
								</div>
								<!-- end of phone number-->

								<!-- number of field -->
								<div class="col-md-3 mdtop4">

									<div>
										<label class="labels">Jumlah Lapangan</label>
									</div>
									<div>
										<span th:text="${view.numberOfField}"></span>
									</div>
								</div>
								<!-- end of number of field -->

							</div>

							<!-- jam buka -->
							<div class="col-md-12 mdtop5">
								<div>
									<label class="labels">Jam Buka</label>
								</div>
								<div>
									<label class="texts">Senin-Sabtu</label>
								</div>
								<div>
									<label class="textes">08:00-20:00</label>
								</div>
							</div>
							<!-- end of jam buka-->
							<!-- harga-->
							<div class="col-md-12 mdtop5">
								<div>
									<label class="labels">Harga Normal Per Jam</label>
								</div>
								<div class="textes">
									<span th:text="${view.price}"></span>
								</div>
							</div>
							<!-- end of harga-->
						</div>
					</div>
					<div class="col-lg-12"></div>

				</div>
			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>
</body>
</html>